.em.em-troll {
  background-image: url("../img/troll_face.png");
}

.em.em-okay {
  background-image: url("../img/okay_face.png");
}

.em.em-shake {
  background-image: url("../img/shake-face.gif");
}

.em.em-thinkcry {
  background-image: url("../img/thinkcry.png");
}

.em.em-omg {
  background-image: url("../img/omg.gif");
}

.em.em-kek {
  background-image: url("../img/kek.gif");
}