.em.em-troll {
  background-image: url("../img/troll_face.png");
}

.em.em-okay {
  background-image: url("../img/okay_face.png");
}

.em.em-shake {
  background-image: url("../img/shake-face.gif");
}
