.DS_Store
Thumbs.db
*.log
node_modules/

# Astro
dist/
.astro/

# ignore assets since we host it somewhere else.
src/content/posts/**/*.mp4
src/content/posts/**/*.mov
src/content/posts/**/*.jpg
src/content/posts/**/*.png
src/content/posts/**/*.webp
src/content/posts/**/*.jpeg
