.em.em-troll {
  background-image: url("/blog/img/troll_face.png");
}

.em.em-okay {
  background-image: url("/blog/img/okay_face.png");
}

.em.em-shake {
  background-image: url("/blog/img/shake-face.gif");
}

.em.em-thinkcry {
  background-image: url("/blog/img/thinkcry.png");
}

.em.em-omg {
  background-image: url("/blog/img/omg.gif");
}

.em.em-kek {
  background-image: url("/blog/img/kek.gif");
}
