
<div class="index-page">
    <div class="left-nav">
        <img alt="this is me" class="my-avatar" src="img/me.jpg"/>
        <h1 class="logo">The happy lone guy</h1>
        <p class="description">Hi I'm Hung and this is a space where I share what really going on in my head that you normally won't hear me say because...people don't say that and I don't wanna be a weirdo....again.</p>
        <div class="separator"></div>
        <ul class="menu">
            <li><a href="2019/06/02/why-the-happy-lone-guy/" class="content">My story</a></li>
            <li><a href="https://twitter.com/ZeroX_Hung" class="content">Twitter</a></li>
            <li><a href="https://github.com/ZeroX-DG" class="content">Github</a></li>
            <li><a href="https://www.buymeacoffee.com/hQteV8A" class="content">Buy me a coffee</a></li>
        </ul>
    </div>
    <div class="blog-post-list">
        <% page.posts.each(function(item){ %>
            <%- partial('_partial/article-list-item', {item: item}) %>
        <% }); %>
    </div>
</div>
