<!doctype html>
<html lang="en">
    <%- partial('_partial/head') %>
    <body>
        <div class="body-container">
            <%- body %>
        </div>
        <%- partial('_partial/footer') %>
        <!-- After footer scripts -->
        <%- partial('_partial/after-footer') %>
    </body>
</html>
