body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

/*---------------*/
/*    TOP NAV    */
/*---------------*/

.top-nav {
  width: 100%;
  display: flex;
  align-items: center;
}

.top-nav .logo {
  font-size: 28px;
  height: 50px;
}

.top-nav .nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

.top-nav .nav .nav-item {
  font-size: 18px;
  text-decoration: none;
  margin-left: 20px;
  position: relative;
}

.top-nav .nav .nav-item::before {
  content: "";
  width: 0;
  height: 3px;
  background: black;
  position: absolute;
  top: 110%;
  left: 0;
  transition: width 0.3s;
}

.top-nav .nav .nav-item:hover::before {
  width: 100%;
}

/*-------------------*/
/*    INTRODUCTION   */
/*-------------------*/
.introduction {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 120px;
}

.introduction .name {
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 700;
  margin: 0;
}

.introduction .title {
  opacity: .5;
  margin: 0;
}

/*--------------------*/
/*   BODY CONTAINER   */
/*--------------------*/

.body-container {
  min-height: calc(100vh - 50px);
}

/*-------------------*/
/*     BLOG POST     */
/*-------------------*/

.blog-post-item {
  box-sizing: border-box;
  display: flex;
  width: 100%;
}

.blog-post-item .blog-post-title {
  margin: 0 !important;
  margin-bottom: 5px !important;
  font-size: 1rem !important;
}

.blog-post-item .blog-post-title::before {
  content: "" !important;
}

.blog-post-item p {
  margin: 5px 0;
  padding: 0;
}

.blog-post-item * {
  line-height: 1.5rem;
}

.blog-post-item .date {
  font-feature-settings: "tnum";
  margin-right: 1.2em;
  color: rgba(0, 0, 0, 0.6);
}

.blog-post-list {
  max-width: 700px;
  margin: 0 auto;
  box-sizing: border-box;
}

.blog-post-list.center {
  right: 0;
  left: 0;
  text-align: left;
  position: relative;
}

.blog-post {
  padding-top: 80px;
  box-sizing: border-box;
}

.blog-post .blog-post-container {
  max-width: 700px;
  margin: 0 auto;
}

.blog-post .blog-post-title {
  font-size: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  position: relative;
}

.blog-post .blog-post-title::before {
  content: "#";
  position: absolute;
  left: -28px;
  color: rgba(0, 0, 0, 0.3);
}

.blog-post .blog-post-content * {
  font-size: 16px;
  line-height: 180%;
  font-weight: 400;
  color: #333447;
  outline: none;
}

.blog-post .blog-post-content .twitter-tweet {
  margin: 0 auto;
}

.blog-post .blog-post-content img,
.blog-post .blog-post-content video {
  max-width: 100%;
}

.blog-post .blog-post-content p {
  text-align: justify;
}

.blog-post .blog-post-content a {
  text-decoration: none;
  color: #e67e22;
  border-bottom: 1px dashed #e67e22;
}

.blog-post .blog-post-content em {
  font-style: italic;
}

.blog-post .blog-post-content img+br+em,
.blog-post .blog-post-content pre+p em,
.blog-post .blog-post-content video+p em {
  display: block;
}

.blog-post .blog-post-content img+br+em,
.blog-post .blog-post-content img+br+em *,
.blog-post .blog-post-content pre+p em,
.blog-post .blog-post-content pre+p em *,
.blog-post .blog-post-content video+p em,
.blog-post .blog-post-content video+p em * {
  font-style: normal;
  text-align: center;
  font-size: 0.9rem;
}

.blog-post .blog-post-content strong {
  font-weight: bold;
}

.blog-post .blog-post-content hr {
  width: 50%;
  height: 2px;
  margin-left: 25%;
  border: none;
  background: rgba(0, 0, 0, 0.25);
}

.blog-post .blog-post-content h1,
.blog-post .blog-post-content h2,
.blog-post .blog-post-content h3,
.blog-post .blog-post-content h4,
.blog-post .blog-post-content h5,
.blog-post .blog-post-content h6 {
  font-weight: bold;
}

.blog-post .blog-post-content h1 {
  font-size: 28px;
}

.blog-post .blog-post-content h2 {
  font-size: 23px;
}

.blog-post .blog-post-content blockquote {
  border-left: 4px solid rgba(0, 0, 0, 0.125);
  padding-left: 15px;
}

.blog-post .blog-post-content poem {
  font-family: "EB Garamond", serif;
  font-size: 20px;
}

.blog-post code {
  font-family: "Inconsolata" !important;
  background: #f2f2f2;
  padding: 3px 5px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
}

.blog-post code.no-float {
  box-shadow: none;
  background: none;
}

.blog-post pre {
  line-height: 130% !important;
  display: inline-block;
  background: rgba(223, 226, 229, .314);
  border: none !important;
  width: 100%;
}

.blog-post table {
  margin: 0 auto;
  border-collapse: collapse;
}

.blog-post table td,
th {
  border: 1px solid #b8b8b8;
  padding: 0 10px;
}

.blog-post table thead tr {
  background: #d1d1d1 !important;
}

.blog-post table tr {
  background: #e3e3e3;
}

.blog-post table tr:nth-child(odd) {
  background: #f2f2f2;
}

.blog-post table thead tr th {
  font-weight: bold !important;
}

.blog-post pre code {
  color: inherit !important;
  box-shadow: none;
  background: none;
  display: block;
  padding: 0;
}

.blog-post .tag-list {
  margin-top: 30px;
}

.blog-post .tag-list .tag {
  text-decoration: none;
  transition: all 0.3s;
  padding: 5px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.6);
}

.blog-post .tag-list .tag:hover {
  color: black;
}

.blog-post img,
.blog-post video {
  margin: 0 auto;
  display: block;
}

.blog-post .js-toc {
  width: 200px;
  position: fixed;
  top: 50%;
  left: 80%;
  transform: translateY(-50%);
  overflow: hidden;
  opacity: 0.2;
  transition: opacity 0.3s;
}

.blog-post .js-toc:hover {
  opacity: 1;
}

.blog-post .js-toc ol {
  list-style: none;
}

.blog-post .js-toc a {
  text-decoration: none;
  line-height: 1.5em;
}

.blog-post .js-toc a:hover {
  text-decoration: underline;
}

.blog-post .js-toc a.is-active-link::before {
  background: black;
}

.blog-post .donate {
  text-align: center;
  margin-top: 50px;
  position: relative;
}

.blog-post .separator {
  width: 50%;
  height: 2px;
  background: rgba(0, 0, 0, 0.25);
  margin: 50px 0;
  margin-left: 25%;
}

.blog-post .donate .donate-button {
  border: none;
  padding: 10px 20px;
  box-sizing: border-box;
  background: #cda869;
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.blog-post .related-blog-post-list {
  margin: 50px 0;
}

.blog-post .related-blog-post-list .title {
  font-size: 25px;
}

/*-------------------*/
/*      OTHERS       */
/*-------------------*/

.home-navigator {
  margin-bottom: 60px;
  color: rgba(0, 0, 0, 0.6);
}

.home-navigator a {
  color: rgba(0, 0, 0, 0.6);
}

pre *,
code * {
  font-family: "Inconsolata", monospace !important;
  font-size: 16px !important;
  line-height: inherit !important;
}

li pre {
  display: block !important;
}

sup,
sup * {
  font-size: 14px !important;
}

.tag-list {
  margin-top: 30px;
}

.tag-list.center {
  max-width: 700px;
  line-height: 1.5em;
  margin: 0 auto;
  margin-top: 150px;
  text-align: left;
  box-sizing: border-box;
}

.tag-list .tag {
  text-decoration: none;
  transition: all 0.3s;
  padding: 5px;
  box-sizing: border-box;
}

.tag-list .tag:hover {
  color: black;
}

kbd {
  margin: 0px 0.1em;
  padding: 0.1em 0.6em;
  border-radius: 3px;
  border: 1px solid rgb(204, 204, 204);
  color: rgb(51, 51, 51);
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px !important;
  display: inline-block;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 2px #ffffff;
  background-color: rgb(247, 247, 247);
  text-shadow: 0 1px 0 #fff;
}

/* Responsive */

@media (min-width: 320px) and (max-width: 480px) {
  .blog-post .blog-post-container {
    padding: 0 15px;
    box-sizing: border-box;
  }

  .blog-post .blog-post-title {
    margin-left: 30px;
  }

  .blog-post {
    padding-top: 50px;
  }

  .blog-post blockquote {
    margin: 0;
  }

  .home-navigator {
    position: relative;
  }

  .blog-post .js-toc {
    display: none;
  }

  pre {
    display: block !important;
  }

  .index-page .left-nav,
  .index-page .blog-post-list {
    padding: 20px 15px;
  }

  .index-page .introduction {
    padding: 0px 15px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .blog-post-item {
    flex-direction: column;
    margin-bottom: 1em;
  }

  .index-page .left-nav {
    height: auto;
  }
}