<div class="blog-post-item">
  <span class="date"><%= item.date.format(config.date_format) %></span>
    <span class="blog-post-title">
        <a href="<%- config.root %><%- item.path %>">
          <%- item.title %>
        </a>
    </span>
</div>
